* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .body-cover{
    height: auto;
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;

    background: #f1f1f1;
  }
  .container{
    display: flex;
    flex-direction: row;
  }
  .text-holder{
    height: auto;
    width: 30%;
  }
  /* Header/Blog Title */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    display: flex;
    flex-direction: row;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: white;
}
.no-decoration{
  text-decoration: none;
  color: white;
}
.search-form {
    display: flex;
}
.search-input {
    padding: 8px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 200px; /* Adjust width as needed */
    box-sizing: border-box;
    outline: none;
}
.search-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.login-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}
.login-button i {
    margin-right: 5px;
}
/* Responsive Styles */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 10px;
    }
    .search-box {
        margin-right: 0;
        margin-bottom: 10px;
    }

}
@media only screen and (max-width: 780px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .text-holder{
    width: 100%;
   
    padding: 10px;
  }
}
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 70%;
  }
  .page-wrap{
    min-height: 70vh;
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .blog-image{
    width: 100%;
  }
  .wrap {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical; /* Ensure vertical layout */
    line-height: 1.5em; /* Adjust line height */
    max-height: calc(1.5em * 3); /* Calculate maximum height */
}


  .button{
    background-color: #333;
    height:  auto;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;

    margin-top: 20px;
}
.footer-links {
    margin-top: 10px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.me{

    color: white;
}
.row{
  min-height: 90vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr); /* 3 columns for larger screens */
  grid-gap: 10px; /* Adjust spacing between grid items */

}

.grid-item {
  padding: 20px; /* Adjust padding as needed */
}

/* Media queries for responsive layout */
@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3,1fr); /* 3 columns for larger screens */
  }
}
@media screen and (min-width: 1210px) {
  .grid-container {
    grid-template-columns: repeat(4,1fr); /* 3 columns for larger screens */
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2,1fr); /* 3 columns for larger screens */
  }
}

@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(1,1fr); /* 3 columns for larger screens */
  }
}
